<html>
<head>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css"/> 
--> 


<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
<script>
//  handles submitting the newuser form
function newUserForm(dish_name, dish_price) {
$.ajax(
    {
        type: "post",
        url: "",
        data: {dish_name:dish_name, dish_price:dish_price, csrfmiddlewaretoken:document.getElementsByName('csrfmiddlewaretoken')[0].value},
        success: function (data)
        {
        if (dish_name == "") {
            document.getElementById('modal_error').innerHTML = 'Please enter a dish name';
        }
        else if (isNaN(parseFloat(dish_price)) || !isFinite(dish_price))
        {
            document.getElementById('modal_error').innerHTML = 'Please enter the dish price';
        }
        else {
            hideModal();
        }

        return false;
        },
        error: function(data)
        {
        }
    });
return false;
};

function setTimes() {
    document.getElementById('TuOpen').value = document.getElementById('MoOpen').value;
    document.getElementById('TuClose').value = document.getElementById('MoClose').value;
    document.getElementById('WeOpen').value = document.getElementById('MoOpen').value;
    document.getElementById('WeClose').value = document.getElementById('MoClose').value;
    document.getElementById('ThOpen').value = document.getElementById('MoOpen').value;
    document.getElementById('ThClose').value = document.getElementById('MoClose').value;
    document.getElementById('FrOpen').value = document.getElementById('MoOpen').value;
    document.getElementById('FrClose').value = document.getElementById('MoClose').value;
    document.getElementById('SaOpen').value = document.getElementById('MoOpen').value;
    document.getElementById('SaClose').value = document.getElementById('MoClose').value;    
    document.getElementById('SuOpen').value = document.getElementById('MoOpen').value;
    document.getElementById('SuClose').value = document.getElementById('MoClose').value;
    return false;
}


$(window).load(function(){
    var $select = $(".opentime");
    $select.append($("<option value='12:00 am'>12:00 am</option>"))
    $select.append($("<option value='12:30 am'>12:30 am</option>"))
    for(i=1; i<=11; i++){
        if(i!=7) {
        $select.append($("<option></option>").val(i + ":00 am").html(i + ":00 am"))
        $select.append($("<option></option>").val(i + ":30 am").html(i + ":30 am"))
        }
        else {
            $select.append($("<option selected></option>").val(i + ":00 am").html(i + ":00 am"))
            $select.append($("<option></option>").val(i + ":30 am").html(i + ":30 am"))
        }
    }
    $select.append($("<option value='12:00 pm'>12:00 pm</option>"))
    $select.append($("<option value='12:30 pm'>12:30 pm</option>"))
    for(i=1; i<=11; i++){
        $select.append($("<option></option>").val(i + "00 pm").html(i + ":00 pm"))
        $select.append($("<option></option>").val(i + "30 pm").html(i + ":30 pm"))

    }
    var $select2 = $(".closetime");
    $select2.append($("<option value='12:00 am'>12:00 am</option>"))
    $select2.append($("<option value='12:30 am'>12:30 am</option>"))
    for(i=1; i<=11; i++){
        $select2.append($("<option></option>").val(i + ":00 am").html(i + ":00 am"))
        $select2.append($("<option></option>").val(i + ":30 am").html(i + ":30 am"))
    }
    $select2.append($("<option value='12:00 pm'>12:00 pm</option>"))
    $select2.append($("<option value='12:30 pm'>12:30 pm</option>"))
    for(i=1; i<=11; i++){
        if(i!=10) {
            $select2.append($("<option></option>").val(i + ":00 pm").html(i + ":00 pm"))
            $select2.append($("<option></option>").val(i + ":30 pm").html(i + ":30 pm"))
        }
        else {
            $select2.append($("<option></option>").val(i + ":00 pm").html(i + ":00 pm"))
            $select2.append($("<option selected></option>").val(i + ":30 pm").html(i + ":30 pm"))
        }

    }


});
$(document).ready(function() 
{
    $('cuisine').click(function() 
    {
        var items = $(this).parent().val();
        if (items.length > 3) {
                       alert("You can only select 3 values at a time");
           $(this).removeAttr("selected");
        }
    });
   });

</script>


<style type="text/css">


           
        body {
            background-image: url('../static/restaurant2.JPG');
        }

        input[type="text"],input[type="password"] {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
        }

        #rest_name {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
            width: 50%;
        }
        #cuisine {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
            width: 40%;
        }

        #num_street {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
            width: 50%;
            margin-left: 38px;
            
        }
        #city {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
            width: 30%;
            margin-left:30px;
            
        }
        #state {
            width: 75px;
            height: 25px;
            overflow: hidden;
            background-color: white;
            border: 1px solid #000;
            font-style: bold;
        }

        #seamless {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
            width: 20%;
        }

        #zipcode {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
            width: 20%;
            margin-left:34px;
        }
        #website { 
            margin-left: 52px;
            width:50%;}

        #MoOpen, #MoClose, #TuOpen, #TuClose, #WeOpen, #WeClose, #ThOpen, #ThClose, #FrOpen, #FrClose, #SaOpen, #SaClose, #SuOpen, #SuClose {
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border-style: solid;
            width: 80%;
        }
        
         #topnavbar{
            background-image:url('http://i375.photobucket.com/albums/oo197/Charles-Stanton_151515/M701_White_Carrara_zps6ag0dbxr.jpg');
            background-size:cover;
        

        }
</style>


    <title>CALOSPOT</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="topnavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% block navtitle %} <span style="color:#2efb00;opacity=.99;">CALO</span><span style="color:#1500fb;opacity=.99;">SPOT</span>{% endblock %}</a>          
              
          </div>
          </div>
          </div>

<br><br><br><br><br>
<div class="container">
<div class="jumbotron" style="background-image: url(../static/marble2.jpg); background-size: 100%;">
<div class="container">

    <form id="RestForm" method="post">
        {% csrf_token %}
        <font size="5" color="A22;" style="bold;">{{error}}</font>
        <br><br>

        <label style="color: #555;">
            <font size="4">Restaurant Name:&nbsp;</font></label>
        <input id="rest_name" type="text" name="rest_name" value='{{rest_name}}' maxlength="200">
        

        <div class="container">
        <br>
        <label style="color: #555;">
        <font size="2">Cuisine Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </font></label>
        <select multiple id="cuisine" name="cuisine" value='{{cuisine}}'>
        <option value="--">--</option>
        <option value="American">American</option>
        <option value="Bagels">Bagels</option>
        <option value="BBQ">BBQ</option>
        <option value="Brazilian">Brazilian</option>
        <option value="Breakfast">Breakfast</option>
        <option value="Brunch">Brunch</option>
        <option value="Burgers">Burgers</option>
        <option value="Caribbean">Caribbean</option>
        <option value="Chinese">Chinese</option>
        <option value="Crepes">Crepes</option>
        <option value="Cuban">Cuban</option>
        <option value="Deli">Deli</option>
        <option value="Dessert">Dessert</option>
        <option value="Dim Sum">Dim Sum</option>
        <option value="Diner">Diner</option>
        <option value="French">French</option>
        <option value="Gluten Free">Gluten Free</option>
        <option value="Greek">Greek</option>
        <option value="Grocery">Grocery</option>
        <option value="Halal">Halal</option>
        <option value="Healthy">Healthy</option>
        <option value="Indian">Indian</option>
        <option value="Irish">Irish</option>
        <option value="Italian">Italian</option>
        <option value="Japanese">Japanese</option>
        <option value="Juices">Juices</option>
        <option value="Korean">Korean</option>
        <option value="Kosher">Kosher</option>
        <option value="Latin American">Latin American</option>
        <option value="Malaysian">Malaysian</option>
        <option value="Mediterranean">Mediterranean</option>
        <option value="Mexican">Mexican</option>
        <option value="Middle Eastern">Middle Eastern</option>
        <option value="Noodles">Noodles</option>
        <option value="Organic">Organic</option>
        <option value="Pakistani">Pakistani</option>
        <option value="Pizza">Pizza</option>
        <option value="Salads">Salads</option>
        <option value="Sandwiches">Sandwiches</option>
        <option value="Seafood">Seafood</option>
        <option value="Smoothies and Shakes">Smoothies and Shakes</option>
        <option value="Soups">Soups</option>
        <option value="Southern and Soul Food">Southern and Soul Food</option>
        <option value="Spanish/Tapas">Spanish/Tapas</option>
        <option value="Steakhouse">Steakhouse</option>
        <option value="Sushi">Sushi</option>
        <option value="Thai">Thai</option>
        <option value="Turkish">Turkish</option>
        <option value="Vegan">Vegan</option>
        <option value="Vegetarian">Vegetarian</option>
        <option value="Vietnamese">Vietnamese</option>
        <option value="Wings">Wings</option>
        </select>

        <br>
        <label style="color: #555;">
        <font size="2">Seamless:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </font></label>
        <select id="seamless" name="seamless">
        <option value="No">No</option>
        <option value="Takeout Only">Takeout Only</option>
        <option value="Takeout and Delivery">Takeout and Delivery</option>
        
        </select>
        
        <br>
        <br>

        
        <label style= "color:#555";>
            <font size="2">Link to Seamless Menu<br>(If not on Seamless, post link to your website/menu):</font></label>
        <input id="website" type="text" name="website" value='{{website}}' maxlength="300">
        <br>    
        
        <label style= "color:#555";>
            <font size="2">Phone Number:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></label>
        <input id="phone" type="text" name="phone" value='{{phone}}'>
        <br>    
      
      </div>  
        <table>
        <th>
        <label style= "color:#555";>
        <font size="2">Monday:&nbsp;</font></label>
        </th>
        <th>
        <label style= "color:#555";>
        <font size="2">Tuesday:&nbsp;</font></label>
        </th>
        <th>
        <label style= "color:#555";>
        <font size="2">Wednesday:&nbsp;</font></label>
        </th>
        <th>
        <label style= "color:#555";>
        <font size="2">Thursday:&nbsp;</font></label>
        </th>
        <th>
        <label style= "color:#555";>
        <font size="2">Friday:&nbsp;</font></label>
        </th>
        <th>
        <label style= "color:#555";>
        <font size="2">Saturday:&nbsp;</font></label>
        </th>
        <th>
        <label style= "color:#555";>
        <font size="2">Sunday:&nbsp;</font></label>
        </th>



        <tr>
        <td>
        <font size="2">Open:&nbsp;</font></label>
        <select class="opentime" id="MoOpen" type="text" name="MoOpen" value='{{MoOpen}}'>
        </select>
        </td>
        <td>
        <font size="2">Open:&nbsp;</font></label>
        <select id="TuOpen" class="opentime" type="text" name="TuOpen" value='{{TuOpen}}'>
        </select>
        </td>
        <td>
        <font size="2">Open:&nbsp;</font></label>
        <select id="WeOpen" class="opentime" type="text" name="WeOpen" value='{{WeOpen}}'>
        </select>
        </td>
        <td>
        <font size="2">Open:&nbsp;</font></label>
        <select id="ThOpen" class="opentime" type="text" name="ThOpen" value='{{ThOpen}}'>
        </select>
        </td>
        <td>
        <font size="2">Open:&nbsp;</font></label>
        <select id="FrOpen" class="opentime" type="text" name="FrOpen" value='{{FrOpen}}'>
        </select>
        </td>
        <td>
        <font size="2">Open:&nbsp;</font></label>
        <select id="SaOpen" class="opentime" type="text" name="SaOpen" value='{{SaOpen}}'>
        </select>
        </td>
        <td>
        <font size="2">Open:&nbsp;</font></label>
        <select id="SuOpen" class="opentime" type="text" name="SuOpen" value='{{SuOpen}}'>
        </select>
        </td>
        </tr>

        <tr>
        <td>
        <font size="2">Close:&nbsp;</font></label>
        <select class="closetime" id="MoClose" type="text" name="MoClose" value='{{MoClose}}'>
        </select>
        </td>
        <td>
        <font size="2">Close:&nbsp;</font></label>
        <select class="closetime" id="TuClose" type="text" name="TuClose" value='{{TuClose}}'>
        </select>
        </td>
        <td>
        <font size="2">Close:&nbsp;</font></label>
        <select class="closetime" id="WeClose" type="text" name="WeClose" value='{{WeClose}}'>
        </select>
        </td>
        <td>
        <font size="2">Close:&nbsp;</font></label>
        <select class="closetime" id="ThClose" type="text" name="ThClose" value='{{ThClose}}'>
        </select>
        </td>
        <td>
        <font size="2">Close:&nbsp;</font></label>
        <select class="closetime" id="FrClose" type="text" name="FrClose" value='{{FrClose}}'>
        </select>
        </td>
        <td>
        <font size="2">Close:&nbsp;</font></label>
        <select class="closetime" id="SaClose" type="text" name="SaClose" value='{{SaClose}}'>
        </select>
        </td>
        <td>
        <font size="2">Close:&nbsp;</font></label>
        <select class="closetime" id="SuClose" type="text" name="SuClose" value='{{SuClose}}'>
        </select>
        </td>

        </tr>
        </table>
        <br>


        <br>
        <input class="btn btn-default" value="Set All times as Monday" style="width: 200px;" onclick="setTimes()"> 
        
        <br><br>

        <label style="color: #555;">
            <font size="2">Number & Street:</font></label>
        <input id="num_street" type="text" name="num_street" value='{{num_street}}' maxlength="100">

            <br>

        <label style="color: #555;">
            <font size="2">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;City:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></label>
        <input id="city" type="text" name="city" value='{{city}}' maxlength="100">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label style="color: #555;">
            <font size="2">
            State:&nbsp;</font></label>  
        <select id="state" name="state" value='{{state}}'>
        <option value="--">--</option>
        <option value="AL">AL</option>
        <option value="AK">AK</option>
        <option value="AZ">AZ</option>
        <option value="AR">AR</option>
        <option value="CA">CA</option>
        <option value="CO">CO</option>
        <option value="CT">CT</option>
        <option value="DC">DC</option>
        <option value="DE">DE</option>
        <option value="FL">FL</option>
        <option value="GA">GA</option>
        <option value="HI">HI</option>
        <option value="ID">ID</option>
        <option value="IL">IL</option>
        <option value="IN">IN</option>
        <option value="IA">IA</option>
        <option value="KS">KS</option>
        <option value="KY">KY</option>
        <option value="LA">LA</option>
        <option value="ME">ME</option>
        <option value="MD">MD</option>
        <option value="MA">MA</option>
        <option value="MI">MI</option>
        <option value="MN">MN</option>
        <option value="MS">MS</option>
        <option value="MO">MO</option>
        <option value="MT">MT</option>
        <option value="NE">NE</option>
        <option value="NV">NV</option>
        <option value="NH">NH</option>
        <option value="NJ">NJ</option>
        <option value="NM">NM</option>
        <option value="NY">NY</option>
        <option value="NC">NC</option>
        <option value="ND">ND</option>
        <option value="OH">OH</option>
        <option value="OK">OK</option>
        <option value="OR">OR</option>
        <option value="PA">PA</option>
        <option value="RI">RI</option>
        <option value="SC">SC</option>
        <option value="SD">SD</option>
        <option value="TN">TN</option>
        <option value="TX">TX</option>
        <option value="UT">UT</option>
        <option value="VT">VT</option>
        <option value="VA">VA</option>
        <option value="WA">WA</option>
        <option value="WV">WV</option>
        <option value="WI">WI</option>
        <option value="WY">WY</option>
        </select>

        <br>
        <label style="color: #555;">
            <font size="2">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Zip Code:&nbsp;</font></label>    
        <input id="zipcode" type="text" name="zipcode" value="{{zipcode}}">
        
        


        <br><br>

        <input class="btn btn-default" value="Cancel" style="width: 20%;"> 
        <input type="submit" class="btn btn-danger" value="Save" style="width: 20%;">
        </div>
    </form>
</div>
</div>
</div>


<script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
</body>
</html>
