<html>
<head>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
<!--<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css"/> 
--> 

<script>


//deleting a dish
function removeItem(key) {
$.ajax(
    {
        type: "post",
        url: "",
        data: {delete_key: key, csrfmiddlewaretoken:document.getElementsByName('csrfmiddlewaretoken')[0].value},
        success: function (data)
        {
          location.reload();

        }
    });
return false;
};

//deleting an ingred
function removeIngred(ingred, key) {
$.ajax(
    {
        type: "post",
        url: "",
        //data: {delete_ingred:ingred, dish:key, csrfmiddlewaretoken:document.getElementsByName('csrfmiddlewaretoken')[0].value},
        success: function (data)
        {
          location.reload();

        }
    });
return false;
};



function openIngreds(key) {

$.ajax(
    {
        type: "post",
        url: "",
        data: {ingred_dish:key, csrfmiddlewaretoken:document.getElementsByName('csrfmiddlewaretoken')[0].value},
        success: function (data)
        {
          showModal();
          document.getElementById('myModalLabel').innerHTML = data.dish;
          if(data.ingreds) {
            document.getElementById('ingred_list').innerHTML = data.ingreds;
          }
          showModal();
        }
    });
return false;
};

function redirect(website) {
  location.href = website;
}

function hideModal()
{
    $('#myModal').modal('hide');
}

function showModal()
{
    $('#myModal').modal('show');
}

</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62884207-1', 'auto');
  ga('send', 'pageview');

</script>



<style>
    body {
      background-image: url('http://i375.photobucket.com/albums/oo197/Charles-Stanton_151515/rftgyhds_zpsajop0hvn.png');
      background-size: cover;		
    }
	   table th, td{
	      border: 1px solid black;
	      border-top-color:black;
	      }
	    
	 
	    
	    .menutitle {
	    	text-align:center;
	    	padding-bottom:30px;
	    	font-size:30px;
	    }
	
	#shizzle {
		color:#00cc00;
	}
  #hits {
    text-align:right;
    margin-right:5%;
    margin-top:2%;
  }
	
	
	
   	#USDA {
   		padding-top:3px;
   	}
   	
   	 
   	.lister {
   		font-size:15px;
   	}
   	.addy
   	{
   		margin:0;
   		padding:0;
   	}
   	.stuff{
   		text-align:center;
   		background-image: url('http://i375.photobucket.com/albums/oo197/Charles-Stanton_151515/rftgyhds_zpsajop0hvn.png');
   		border-radius:5px;
   	}
    #ingred_list {
      text-align:center;
      margin-bottom:5px;
    }
    
    .lastone{
    	text-align:center;
    }
    
    .notice{
    	padding-bottom:3%;
    	font-size:18px;
    }
    
    .dizclaimer{
    	font-size:12px;
    }
    
    .clerk {
    	text-align:center;
    }
    
  
</style>


    <title>CALOSPOT</title>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="topnavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% block navtitle %} <span style="color:#2efb00;opacity=.99;">Calo</span><span style="color:#1500fb;opacity=.99;">Spot</span>{% endblock %}</a>          
              
          </div>
          </div>
          </div>
          
          
<br><br><br><br><br><br><br><br><br>
<div class="container">
	<div class="clerk">
<h1></h1>
	  </div>
<div class="jumbotron" style="background-image: url(../static/marble2.jpg); background-size: 100%;">

<div class="stuff">
<div id='hits'><b>Number of Views:</b> {{hits}}</div>

<h1>{{rest}}</h1>
{% if jazz_man %}
<h2>(Check menu in Cafe to see which dishes are being served today)</h2> 
{% endif %}

{% if town_center %}
<h2>(Stamford Town Center)</h2>
{% endif %}

<h2><a href='http://maps.google.com/?q={{address}}{{csz}}'>{{address}}<br>{{csz}}</a></h2>
<h4 style="font-size:15px">{{phone}}
<br>

</h4>

<div class="lister">
<ul style="list-style-type:none; padding-left:0">
   <li> <b>M:</b> {% if MoOpen == "Closed" %} Closed {% else %} {{MoOpen}} to {{MoClose}} {% endif %}  
    <b>F:</b> {% if FrOpen == "Closed" %} Closed {% else %} {{FrOpen}} to {{FrClose}} {% endif %}</li>
   <li> <b>T:</b> {% if TuOpen == "Closed" %} Closed {% else %} {{TuOpen}} to {{TuClose}} {% endif %}    
    <b> Sat:</b> {% if SaOpen == "Closed" %} Closed {% else %} {{SaOpen}} to {{SaClose}} {% endif %}</li>
   <li><b>W:</b> {% if WeOpen == "Closed" %} Closed {% else %} {{WeOpen}} to {{WeClose}} {% endif %} 
    <b>Sun:</b> {% if SuOpen == "Closed" %} Closed {% else %} {{SuOpen}} to {{SuClose}} {% endif %}</li>
   <li> <b>Th:</b> {% if ThOpen == "Closed" %} Closed {% else %} {{ThOpen}} to {{ThClose}} {% endif %} 
  </li>


</ul>
</div>


</div>

</div>

<div class="menutitle">
	<u>The <span id="shizzle">Under 600 Calories</span> Menu</u>
</div>

<table class="table" id="menu_table">
 
    {% if my_prof %}
    <th></th>
    {% endif %}
    <th><u>DISH</u></th>
    <th><font color="black">Calories</font></th>
    <th><font color="black">Protein (g)</font></th>
    <th><font color="black">Fat(g)</font></th>
    <th><font color="black">Carbs (g)</font></th>
    <th><font color="black">Sugar(g)</font></th>
    <th><font color="black">Sodium(mg),(% DV)</font></th>
    <th><font color="black">Price</font></th>
    <th><font color="black">Description</font></th>
{% for d in table %}
<tr>
{% if my_prof %}
<td>
<button class="btn btn-default btn-sm" id=type="button" onclick="removeItem('{{d.name}}')"><span class="glyphicon glyphicon-remove-circle"></span></button>
<button class="btn btn-default btn-sm" id=type="button" onclick="openIngreds('{{d.name}}')"><span class="glyphicon glyphicon-eye-open"></span></button>
</td>
{% endif %}
<td><font color="black">{{ d.name }}</font></td>
{% for s in d.strings %}
{% if forloop.first%}
<td><font color="#00cc00">{{ s }}</font></td>
{% else %}
<td><font color="black">{{ s }}</font></td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}

   <colgroup>
    	<col span="1" font color="#990099">
   </colgroup>
</table>

{% if my_prof %}
<form action="" method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-default" value="Add Dish" 
         name="Submit">
</form>
<div class="notice">
<i>Restaurant Managers: Add as many dishes as you like! As long as they are under 600 calories. <br><b>If you create dish and it comes out to be over 600 calories, delete and repost using only half the amount of each ingredient, and simply write "1/2 serving" in dish description.</b> Email info@calospot.com for help/questions.</i> 
</div>
{%endif%}
<div class="lastone">

{%if no_seamless%}
<h4><span>Visit their website: </span><a onclick='redirect("{{website}}")'>{{website}}</a></h4>

{%else%}
<h4><span style=>Order these dishes for takeout or delivery on Seamless: </span><a onclick='redirect("{{website}}")'>{{website}}</a></h4>
{%endif%}

{%if no_yelp%}

{%else%}
<h4><span>To check out this restaurant on Yelp: </span><a onclick='redirect("{{yelp}}")'>{{yelp}}</a> </h4>
{%endif%}
<div class="dizclaimer">
{%if claimed%}
If you have food allergies please check with the restuarant when ordering, Calospot cannot verify if the dishes are allergen-free.
{%else%}
At this moment the above resutarant is not associated with Calospot in any way. Nutrition calculations for this menu are made by the Calospot team and not by the restaurant, so variance in ingredients/serving size may occur.  If you have food allergies please check with the restuarant when ordering, Calospot cannot verify if the dishes are allergen-free. Restaurant managers email info@calospot.com to take over this account.
{%endif%}
</div>
</div>
</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>

        <div id="ingred_list">
        </div>
      
      <div class="modal-footer">
            <div id="close_button">
            <button class="btn btn-danger btn-sm" id="close_modal_button" type="button" onclick="hideModal()">Done</button> 
            </div>
    </div>
        
    </div>
  </div>
</div>



<script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
</body>
</html>
