<html>
<head>

<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap-responsive.min.css"/> 
<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>

    <title>Calo</title>
    <style type="text/css">
        body {
            background-image: url('../static/food.jpg');
        }


        .errorlist li {
            color: red;
            display: block;
            font-size: 12px;
        }
        </style>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" id="topnavbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% block navtitle %} <span style="color:#12AA34;opacity=.99;">C</span><span style="color:#BB9977;opacity=.99;">a</span><span style="color:#12AA34;opacity=.99;">l</span><span style="color:#BB9977;opacity=.99;">o</span>{% endblock %}</a>
          </div>
          </div>
          </div>

 
<br><br><br><br>
<div class="container">
<div class="jumbotron" style="background-image: url(../static/board.jpg); background-size: 100%;">
<div class="container-fluid">


    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    {% if form.amount.errors %}
        <font size="3" color="red">Please enter an amount</font>
    {% endif %}
    {{form.amount.errors}}

    <form id="ingredForm" method="post">
        {% csrf_token %}

           {{ form.ingredient.errors }}
            <label style="color: #555;" for="id_ingredient">
            <font size="4">Ingredient:&nbsp;</font></label>
            {{ form.ingredient }}
&nbsp;&nbsp;&nbsp;
            <label style="color: #555;" for="id_amount">
            <font size="4">Amount:&nbsp;</font></label>
            {{ form.amount }}

            {{ form.unit.errors }}
            {{ form.unit }}

        <br>
        <br>
        <input type="submit" class="btn btn-primary" value="Add Ingredient">
        <input type="submit" class="btn btn-danger" value="Submit Dish">

    </form>
    {% for i in ingred_list%}

    {% endfor %}


    </div>
    </div>  
    </div>


<script src="{{STATIC_URL}}/js/bootstrap.min.js"></script>
</body>
</html>